# dependencies
/node_modules
/frontend/node_modules

# next.js
/frontend/.next/
/frontend/out/

# track dist (static build output)
!/frontend/dist/

# env files (track .env.production and .env.example)
.env*
!/frontend/.env.production
!/frontend/.env.example

# production
/frontend/build

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
